.card {
    margin: 0 5px;
    width: 480px;
    height: 330px;
    border-radius: 20px;
    position: relative;
    padding: 1.8rem;
    background: url('https://cdn.tgdd.vn/Products/Images/44/309017/apple-macbook-air-15-inch-m2-2023-midnight-thumb-1-600x600.jpg') center center / cover no-repeat;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.cardDetails {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.cardDetails img {
    width: 300px;
    height: 300px;
}

.cardButton {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .cardButton {
    transform: translate(-50%, 50%);
    opacity: 1;
}