body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
}

.sidebar {
	top: 0;
	left: 0;
	width: 280px;
	background: var(--light);
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
.sidebar::--webkit-scrollbar {
	display: none;
}
.sidebar.hide {
	width: 60px;
}
.sidebar .brand {
	width: 100%;
    float: left;
    color: #000;
}
.sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
.sidebar .sideMenu {
	width: 100%;
	margin-top: 48px;
}
.sidebar .sideMenu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
.sidebar .sideMenu li.active {
	background: var(--grey);
	position: relative;
}
.sidebar .sideMenu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
.sidebar .sideMenu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
.sidebar .sideMenu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
.sidebar .sideMenu.top li.active a {
	color: var(--blue);
}
.sidebar.hide .sideMenu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
.sidebar .sideMenu li a.logout {
	color: var(--red);
}
.sidebar .sideMenu.top li a:hover {
	color: var(--blue);
}
.sidebar .sideMenu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
