/* Test.module.css */
a {
  text-decoration: none !important;
  /* color: black !important; */
}
.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 2s ease-in-out;
  }
  
  .First_Navbar {
    transition: all 1s ease-in-out;
    background-color: black;
    color: white;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: end;
  }
  .First_Navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .Item {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    max-width: 142px;
    text-align: center;
    margin: 0 10px;
  }
  .Item:hover{
    cursor: pointer;
  }
  
  .stickydefaut {
    transition: all 1s ease-in-out;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .sticky {
    transition: all 1s;
    position: fixed;
    animation: slideDown 0.5s forwards;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  @keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
  
    to {
        transform: translateY(0);
    }
  }
  
  
  .Mid_Navbar {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-around;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .Bottom_Navbar {
    background-color: white;
    /* padding: 5px 0; */
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 998;
  }
  
  .search_input {
    height: 46px;
    min-width: 400px;
    padding: 0 20px;
    border: 1px solid #ccc;
    border-radius: 23px 0 0 23px;
    outline: none;
    flex: 1;
  }
  
  .search_button {
    height: 46px;
    padding: 0 20px;
    border: none;
    background-color: #1890ff;
    color: white;
    border-radius: 0 23px 23px 0;
    cursor: pointer;
    outline: none;
  }
  
  .search_button:hover {
    background-color: #40a9ff;
  }
  .productSearch {
    top: 50px;
    border-radius: 0.4em;
    position: absolute;
    width: calc(100% + 4px);
    border: 1px solid #ddd;
    left: -2px;
    max-height: 560px;
    overflow: auto;
    display: none;
    background: #fff;
    z-index: 999;
    display: block;
  }
  .productSearch a{
    display: block;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    color: #333e48;
  }
  .productSearch a img {
    width: 60px;
    float: left;
    max-width: 100%;
    height: auto;
  }
  .inforSearch {
    display: block;
    margin-left: 65px;
  }
  .name {
    display: block;
    font-size: 13px;
    color: #333e48;
  }
  .price {
    font-size: 13px;
    color: #e00;
  }
  .Reverse {
    transform: scaleX(-1);
  }
  
  .nav_container {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .nav_item {
    color: black;
    padding: 10px 15px;
    text-align: center;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .nav_item:hover {
    transition: all 1s;
    background-color: #444;
    color: white;
  }
  
  .sub_nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
  }
  
  .sub_nav_item {
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .sub_nav_item:hover {
    background-color: #f0f0f0;
  }
  